name: kassam
description: "Shaxsiy moliyani boshqarish uchun professional dastur."
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.2
  bloc: ^8.1.4
  equatable: ^2.0.5
  go_router: ^17.0.0
  intl_phone_field: ^3.2.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
